<!-- Modal -->
<div
  class="modal fade"
  id="addtask"
  tabindex="-1"
  aria-labelledby="addtask"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="/addtask">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Add New Task</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="task-title" class="col-form-label">Title</label>
            <input type="text" class="form-control" id="task-title" name="title" />
          </div>
          <div class="mb-3">
            <label for="task-description" class="col-form-label">Description</label>
            <textarea
              type="text"
              class="form-control"
              id="task-description"
              name="description"
            ></textarea>
          </div>
          <div class="mb-3">
            <label for="task-duedate" class="col-form-label">Due Date</label>
            <input
              type="date"
              class="form-control"
              id="task-duedate name"
              name="duedate"
            />
          </div>
          <div class="mb-3">
            <label for="task-category" class="col-form-label">Category</label>
            <select class="form-select" id="task-category" name="category">
              <option value="" selected disabled hidden>Choose Category</option>
              <option value="1">Work</option>
              <option value="2">Personal</option>
              <option value="3">Study</option>
              <option value="4">Household</option>
              <option value="5">Health</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="task-priority" class="col-form-label">Priority</label>
            <select class="form-select" id="task-priority" name="priority">
              <option value="" selected disabled hidden>Choose Priority</option>
              <option value="5">High</option>
              <option value="6">Medium</option>
              <option value="7">Low</option>
            </select>
          </div>
          <!--- FOR TESTING ONLY not active in final project - default status set by database
          <div class="mb-3">
            <label for="task-status" class="col-form-label">Status</label>
            <select class="form-select" id="task-status" name="status">
              <option value="" selected disabled hidden>Choose Status</option>
              <option value="1">Not Started</option>
              <option value="2">In Progress</option>
              <option value="3">Completed</option>
              <option value="4">Cancelled</option>
              <option value="5">Overdue</option>
            </select>
          </div>
          --->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
